
/* radiobutton styling*/

.custom-control-label::after,
.custom-control-label::before {
  display: none;
}

.custom-control {
  padding-left: 0;
}

.custom-control-inline {
  margin-right: 0;
}

.date-group-labels {
  border: 1px solid #ccc;
  border-radius: 0px;
  font-size: 12.5px;
  font-weight: bold;
  padding: 2.5px 10px;
  margin-bottom: 5px;
  background-image: -webkit-linear-gradient(top, #fefefe, #f3f3f3);
  background-image: -moz-linear-gradient(top, #fefefe, #f3f3f3);
  cursor: pointer;
}

.date-group-labels.date-group-labels-checked {
  background-image: -webkit-linear-gradient(top, #eee, #e3e3e3);
  background-image: -moz-linear-gradient(top, #eee, #e3e3e3);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.custom-radio:first-child .date-group-labels {
  border-radius: 3px 0 0 3px;
}

.custom-radio:last-child .date-group-labels {
  border-radius: 0 3px 3px 0;
}

.custom-radio:not(:last-child) .date-group-labels {
  border-right: none;
}

.date-group-labels:hover {
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}


/* legend box  */
.box_selected{
	width:15px;
  height:15px;
  background: #ffffff;
  border:3px solid #ec9f09;
}
.box_baseline{
	width:15px;
  height:15px;
  outline-width: 5px;
  background:#7f7e7e;
}
.box_closure{
	width:15px;
  height:15px;
  outline-width: 5px;
  background: #165788;
}
.twelve.columns { background-color: #165788; }

/* tabs styling  */
.custom-tabs-container {
  width: 85%;
}
.custom-tabs {
  border-top-left-radius: 3px;
  padding: 0px 24px;
  border-bottom: 1px solid #d6d6d6;
  overflow-wrap: break-word;
}

.custom-tab {
  color:#586069;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top: 3px solid transparent !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  background-color: #fafbfc;
  padding: 6px !important;
  font-family: "system-ui";
  display: flex !important;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
}
.custom-tab--selected {
  color: black;
  box-shadow: 1px 1px 0px white;
  border-left: 1px solid lightgrey !important;
  border-right: 1px solid lightgrey !important;
  border-top: 3px solid #e36209 !important;
}

.title-style {
  margin-left: 15px;
}
.title-style-background {
  background-color: #165788;
  width: 100%;
}
@media print {
  .hide-on-print {display:none;}
  .reverse-stack {flex-direction: column-reverse;}
  .title-style {margin-left: 25px;
                color: black;}
  .title-style-background {background-color: white;}
  tr.selected {outline: none;}
  .table-title {width: max-content;}
  td.baseline {
    background-color: #FFFFFF;
    color: #808080; 
    font-size: 1.6rem;
  }
  td.segname {
    text-align: left; 
    font-size: 1.6rem;
  }
  td.baseline_title {
      background-color: #FFFFFF;
      color: #808080; 
      font-size: 1.6rem;   
  }
  td.title {
      background-color: #FFFFFF;
      color: #000000;
      font-weight: bold;
      text-align: center; 
      font-size: 1.7rem; 
  }
  td.worse {
      background-color: #E9A3C9;
      color: #000000; 
      font-size: 1.6rem; }
  td.better {
      background-color: #A1D76A;
      color: #000000; 
      font-size: 1.6rem; }
  td.same {
      background-color: #F7F7F7;
      color: #000000; 
      font-size: 1.6rem; }
  td.date-title {
      background-color: #F7F7F7;
      color: #000000; 
      font-size: 1.5rem; }
  td.direction-title {
      background-color: white;
      color: #000000; 
      font-size: 1.5rem; }

  @page { margin: 0; }
  body { margin: 1.6cm; 
         -webkit-print-color-adjust: exact !important;}
}
